
.header{ 
   display: flex;
}

.logout{
   position:  absolute;
   right: 0%;
}




.rightside{
   color: white;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 20%;
  
    padding: 10px;
    margin: 0;
    line-height: 3;
    background-color:gray

}

.icon{
    width: 5vw;
  height: 5vh;

}

.all{
    display: flex;
}

.main{
   
    width: 70%;
    margin: 0;
    padding: 10px;
    line-height: 3;
    background: linear-gradient(#80b6e2, #87afca);
}



.side{
  
    position: sticky;
    top: 0;
    width: 10%;
 
    padding: 10px;
    margin: 0;
    line-height: 3;
    background-color: gray;
    color: white;
}
.account{
  position: sticky;
    position: -webkit-sticky;
    top: 0;
}
.sent{
    display: flex;
    align-items: center;
}

.display_none{
    display: none;
}

.btn{
    width: 5rem;
    height: 2rem;
}

.label_style{
    margin: 1rem;
    cursor: pointer;
}