
.header{ 
   display: flex;
}

.logout{
   position:  absolute;
   right: 0%;
}




.rightside{
   color: white;
  
    position: sticky;
    top: 0;
    width: 20%;
  
    padding: 10px;
    margin: 0;
    line-height: 3;
  
     background: linear-gradient( #1b7a86,#2ac0e6);

}

.icon{
    width: 5vw;
  height: 5vh;

}

.all{
    display: flex;
}

.main{
   
    width: 70%;
    margin: 0;
    padding: 10px;
    line-height: 3;
      background: linear-gradient( #2ac0e6,#1b7a86);

}



.side{
  
    position: sticky;
    top: 0;
    width: 10%;
       font-family: serif;
    
 
    padding: 10px;
    margin: 0;
    line-height: 3;
    
      background: linear-gradient( #1b7a86,#2ac0e6);
    color: white;
}
.account{
  position: sticky;
    position: -webkit-sticky;
    top: 0;
}
.sent{
     color: white;
    display: flex;
    align-items: center;
     position: sticky;
    position: -webkit-sticky;
    top: 0;
   
}
.text{
    color: white;
}

.display_none{
    display: none;
    color: white
}

.btn{
    width: 5rem;
    height: 2rem;
}

.label_style{
    margin: 1rem;
    cursor: pointer;
}

.comment{
    display: none;
}
.name1{
    font-size:small;
    font-family: serif;
    color: white;
}
.come{
    font-size: large;
    color: white;
}